<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="js/dummy-logger.js"></script>
</head>
<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item"><a href="/">home</a></li>
      <li class="main-header__item"><a class="active" href="/users">Users</a></li>
    </ul>
  </nav>
</header>
<body>
<h1>Users:</h1>
<ul>
    <li>User 1: Hanuman</li>
    <li>User 2: Gaechka</li>
    <li>User 3: Baratrum</li>
    <li>User 4: The Witch</li>
</ul>

</body>
</html>